.navbar {
  width: 5rem; /* 80px / 16px */
  height: 46.875rem; /* 750px / 16px */
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 0.0625rem solid var(--mantine-color-gray-3); /* Adjust color as needed */
}

.navbarMain {
  flex: 1;
  margin-top: 3.125rem; /* 50px / 16px */
}

.link {
  width: 3.125rem; /* 50px / 16px */
  height: 3.125rem; /* 50px / 16px */
  border-radius: var(--mantine-radius-md);
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-gray-7);

  &:hover {
    background-color: var(--mantine-color-gray-0);
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}
